<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miniproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launch1"
        android:label="CodeTurf"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".status"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".result"
            android:screenOrientation="portrait"/>
        <activity android:name=".contactus"
            android:screenOrientation="portrait"/>
        <activity android:name=".Leaderboard"
            android:screenOrientation="portrait"/>
        <activity android:name=".myaccount"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Navigation1"
            android:label="@string/title_activity_navigation1"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Preferences"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuestionPage"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>